{{! navbar }}

<nav class="navbar">
    <div class="navbar-logo">
        <img src="/assets/img/logo.png" alt="AgnoRated Logo" class="logo-img">
        <span>AgnoRated</span>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/establishments">Browse</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Profile</a>
    </div>
</nav>