{{! 404 }}

<main class="container">

    <div class="card error-container">

        <h1 class="error-code">404</h1>

        <h2>{{title}}</h2>

        <p>{{message}}</p>

        <div style="margin-top: var(--spacing-lg);">

        <a href="/" class="btn btn-outline">
        Go Home
        </a>

        </div>

    </div>

</main>